*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
}

.panchag
{    text-align:center;
    padding: 100px;
    color: rgb(255, 255, 255);
    background-image: url("../images/night-sky-stars-background.jpg");
    background-repeat: repeat;
}
img{
    width: 400px;
    height: 400px;

}
.horscope-img {
    -webkit-animation: rotation 12s infinite linear;
}

@-webkit-keyframes rotation {
    from {
            -webkit-transform: rotate(359deg);
    }
    to {
            -webkit-transform: rotate(0deg);
    }
}