.popup-container#popup-container(touch-action='none')
	.popup#popup
		.popup__content.lory
			.lory__frame
				ul.lory__slides
					li.lory__slide.slide--blue
					li.lory__slide.slide--teal
					li.lory__slide.slide--green
					li.lory__slide.slide--yellow
					li.lory__slide.slide--orange
					li.lory__slide.slide--red
					li.lory__slide.slide--purple
					li.lory__slide.slide--indigo
		.popup__buttons
			a.button Cancel
			a.button Select